* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f7fb;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

/* HEADER ----------------------------------------------------*/
header {
  width: 100vw;
  height: 9vh;
  background-color: #ffffff;
  box-shadow: 12px 14px 32px -11px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 12px 14px 32px -11px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 12px 14px 32px -11px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

.header__nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav__ul {
  display: flex;
}
.header__nav__ul__item a {
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 20px;
}
.header__nav__ul__item a:hover {
  color: #b99095;
}
/* ------------------------------------------------------ */
/* para boton de "contacto" "lo que hago" y "submmit" */
.btn {
  font-size: 1rem;
  padding: 10px 25px;
  border: 1px solid #b99095;
  background-color: #b99095;
  border-radius: 20px;
  color: #ffffff;
}
.btn:hover {
  border: 1px solid #cea3a8;
  background-color: #cea3a8;
}
/* ------------------------------------------------------- */
/* MAIN ---------------------------------------------------*/
section {
  height: 100vh;
}

/* primera sección "HOLA" "about" --------------------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./imagenes/wave.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: bottom;
}

.about img {
  width: 450px;
  margin: 0px 40px 0px 15px;
}

.about__text {
  width: 30%;
  margin: 0px 15px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about__text__greeting {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.about__text__name {
  font-size: 4rem;
  font-weight: 800;
  color: #b99095;
  margin-bottom: 5px;
}

.about__text__description {
  margin-bottom: 15px;
}
.about article a {
  width: 200px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
/* segunda sección "CONOCIMIENTOS"  "skills"----------*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f7fb;
}

.skills__text {
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skills__text__title {
  text-align: center;
}
.skills__text__description {
  width: 50%;
  text-align: center;
}

.skills__cards {
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills__cards__item {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 260px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.skills__cards__item:hover {
  border: 1px solid #b5e5cf;
}
.skills__cards__item img {
  width: 5rem;
}

.skills__cards__item figcaption {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
}

/* tercera sección "quote" --------------------------*/
.quote {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./imagenes/pink-waves.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-y: bottom;
}
.quote i {
  font-size: 10rem;
  color: #fcb5ac;
}

blockquote {
  width: 40%;
  text-align: center;
  margin: 15px;
}

blockquote > p {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

blockquote > h4 {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
}

/* cuarta sección "MIS PROYECTOS" "projects" */
.projects {
  background-color: #ffffff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__text {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.projects__text p {
  margin-top: 30px;
  width: 50%;
  text-align: center;
}

.projects__cards {
  margin-top: 80px;
  margin-bottom: 100px;
  max-width: 1100px;
  padding: 0px 50px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__cards__item {
  background-color: #ffffff;
  width: calc((100% / 3) - 1rem);
  height: 300px;
  border: 1px solid #b99095;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 5px;
}
.projects__cards__item figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projects__cards__item img {
  width: 100%;
  height: 80%;
}
.projects__cards__item figcaption {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* quinta sección "CONTACTO" "contact" -----------*/

.contact {
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__card {
  max-width: 1100px;
  height: 75%;
  margin: 0px 20px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.contact__card__links{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.contact__card p {
  padding: 40px 5px 50px;
}

.contact__card  a {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0px;
}

.contact__card  i {
  font-size: 1.5rem;
  padding-right: 20px;
  color: #b99095;
}

.contact__card__form {
  width: 40%;
  height: fit-content;
} 

form {
  margin: 40px 0px 20px;
}

.contact__card__form__name {
  height: 90px;
  display: flex;
}
.contact__card__form__name__colum{
  height: fit-content;
}
label[for] {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

input[type] {
  font-size: 1rem;
  width: 95%;
  padding: 10px;
  border: 1px solid #f6f7fb;
  border-radius: 20px;
  background-color: #f6f7fb;
  margin-bottom: 20px;
}

input[name="nombre"] {
  margin-right: 20px;
}

input[type="text"] {
  width: 90%;
}

textarea {
  width: 95%;
  border: 1px solid #f6f7fb;
  border-radius: 20px;
  background-color: #f6f7fb;
  padding: 15px;
  margin-top: 10px; 
  margin-bottom: 10px;
} 

/* FOOTER */
footer {
  height: 30vh;
  background-color: #b99095;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 600px;
  margin-bottom: 2rem;
}

.nav__ul{
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  color: #ffffff;
}

.nav a:hover {
  color: #ffffff;
}

.footer-social {
  display: flex;
  margin-bottom: 2rem;
}

.footer-social i {
  font-size: 1.2rem;
  color: #b99095;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  margin: 10px;
}

.footer-tex {
  color: #ffffff;
}

.footer-social i:hover {
  color: #ffffff;
  background-color: #b99095;
}
/* MEDIA QUERIES */
/* for desktop */
@media (max-width: 1100px) {
  /* HEADER -------------------------------------*/
  header {
    display: none;
  }
  /* MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* primera sección "about" --------------------*/
  .about {
    flex-direction: column;
    justify-content: space-around;
  }
  .about__text {
    width: 50%;
    margin: 150px 0px 30px;
    align-items: center;
  }
  article[class="about__text"] {
    text-align: center;
  }
  .about img {
    margin: auto;
    width: 350px;
  }
  .about__text__name {
    font-size: 3rem;
  }
  /* segunda sección "skills-"------------------*/
  .skills__text {
    width: 100%;
  }
  /* tercera sección "quote"--------------------*/
  .quote {
    height: 80%;
  }
  /* cuarta sección "projects"----------------- */
}

@media (max-width: 920px) {
  /* segunda seccion "skills" */
  .skills {
    height: auto;
    padding: 100px 20px 60px;
  }
  .skills__text {
    margin: 20px 0px;
  }
  .skills__cards {
    max-width: 800px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}
